@import "tailwindcss";

:root {
  --primary-color: #1A2D5E;
  /* Biru Gelap - Dominan */
  --secondary-color: #2C5294;
  /* Biru Medium - Aksi */
  --accent-color: #3D68A8;
  /* Biru Terang - Grafik/Detail */
  --bg-light: #F8FAFC;
  /* Abu-abu sangat muda - Background */
  --text-white: #FFFFFF;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}